* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #00000034 1px 0px 25px;
}

.header_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  min-width: 67%;
  align-items: center;
margin-left: 15%;
margin-right: 15%;

}

.header_logo {
  width: 55%;
}

.header_logo ul {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  align-items: center;
}

.header_logo ul li {
  list-style: none;
  font: normal normal 600 15px/19px Montserrat;
}

.header_logo ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.header_logo ul li a img {
  width: 143px;
  height: 91px;
}

.header_logo .connexion {
  display: flex;
  width: 20%;
}

.connexion a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  padding-right: 30px;
  color: black;
}

.connexion a:last-child {
  padding: 15px 30px;
  background: #0441A0;
  color: white;
}


.all_checkbox{
  position: absolute;
  right: -150px;
}
.checkbox {
  margin-left: 15px;
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
}

.checkbox input {
  display: none;
}

.checkbox--sliding {
  --checkbox-background: #67BCED;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--checkbox-background);
  border-radius: 20px;
  transition: 0.4s;
}

/* Appearance of checkbox before clicking */
.checkbox--sliding:after {
  --checkbox-background: #f3f4f5;
  position: absolute;
  content: "\f185";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  color: black;
  height: 26px;
  width: 26px;
  background: var(--checkbox-background);
  border-radius: 50%;
  left: 3px;
  top: 18px;
  transform: translateY(-60%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 0px 2px #c8cbcc;
  transition: 0.4s;
}

.checkbox--input:checked + .checkbox--sliding {
  --checkbox-background: #41444B;
}
/* Appearance of checkbox */
.checkbox--input:checked + .checkbox--sliding:after {
  background: var(--checkbox-background);
  left: calc(100% - 29px);
  content: "\f186";
  color: #41444B;
  box-shadow: -0.5px 0px 2px rgb(110, 110, 110);
}
.artist{
  width: 100%;
}
.artistSolo > img{
  width: 362px;
  height: 202px;
}

/* ---------------------------------------------- */

.profile{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}


.profileContent{
  display: flex;
  /* align-items: center; */
  margin-right: 15%;
  margin-left: 15%;
  height: 500px;
  margin-top: 20px;
}



.profileLogo{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  align-items: center;
}
.live > img:nth-child(1) {
  width: 300px;
  height: 200px;
}
.profileLogo > span{
  font: normal normal 400 27px/26px Montserrat;

}
.live > img{
  position: relative;
}
.live> img:nth-child(2){
  
  position: absolute;
  margin-top: 154px;
  margin-left: 10px;
  width: 140px;
  height: 35px;
}
.live > img:nth-child(3){
  position: absolute;
  margin-top: 160px;
  margin-left: 20px;
}
.artistContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.artistContent > p {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 32px #00000012;
  width: 700px;
  font: normal normal 400 20px/26px Montserrat;
  padding: 30px;
}


.live{
  display: flex;
}

.live > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.live > div > p:nth-child(1) {
  width: 360px;
  font: normal normal 400 26px/26px Montserrat;
  padding-left: 20px;
}

.live > div > p:nth-child(2) {
  font: normal normal 400 17px/26px Montserrat;
  padding-left: 20px;

}




/* ---------------------------------------------- */
.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.title > span {
  text-align: left;
  font: normal normal normal 32px/22px Montserrat;
  letter-spacing: 0px;
  color: #41444B;
  text-transform: uppercase;
  opacity: 1;
}


.artistSection {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: 15%;
  margin-left: 15%;
  height: 300px;
}

.class{
  display: flex;
  flex-direction: column;
  width: 362px;
  height: 200px;
}

.classe > img{
  width: 162px;
  height: 102px;
}

.user{
  display: flex;
  margin-top: 10px;
}

.user > img {
  width: 45px;
  height: 45px;
}
.name{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 195px;

  margin-left: 10px;
  font: normal normal normal 16px/11px Montserrat;
}
.name > span:nth-child(2){
  font: normal normal normal 12px/8px Montserrat;
  letter-spacing: 0px;
  color: #1D232B;
}

.name > span:nth-child(1){
  font: normal normal normal 14px/8px Montserrat;
  letter-spacing: 0px;
  width: 300px;
}



.more{
  width: 100%;
  height: 30px;
  margin-top: 30px;

}


.moreSpan{
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
  text-align: left;
  font: normal normal 300 22px/15px Montserrat;
  letter-spacing: 0px;
  color: #41444B;
  opacity: 1;
}
.moreSpan > span {
  padding-bottom: 10px;
}
.barre{
  width: 100%;
  height: 2px;
  background-color: #7C7C7C;
  margin-top: 10px;
}
.section2{
  margin-top: 10px;
}




.product{
  display: flex ;
  justify-content: center;

}

.productClass {
  display: flex;
}

#grey {
  font: normal normal 300 14px/15px Montserrat;
  letter-spacing: 0px;
  color: #41444B;
}





















/* ---------------------------------------------- */

footer {
  padding-top: 75px;
}

.footer_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0441A0;
}

.footer-top {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  line-height: 3em;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
}

.contacts ul li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.center {
  text-align: center;
}

.footer-bot {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
  background: #0441A0;
  box-shadow: 0 3px 34px rgba(0, 0, 0, 0.068);
}

.bot-link {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.bot-link a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}













/* ----------------------------test  */

.checkbox--input:checked ~ * .header_logo > ul > li {
  color: white!important;
  z-index: 1;
}